.projects {
  background-image: url(/src/assets/images/vector1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
  background-position-x: 130%;
  position: relative;
}

.project-card {
}

@media (min-width: 950px) {
  .project-card {
    width: 46%;
  }
}
