.heading-tertiary {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  display: inline-block;
}

.brush {
  background-color: #1c2767;
  height: 25px;
  position: absolute;
  width: 110%;
  bottom: 1px;
  left: 0;
  z-index: -1;
}

.toolbox {
  background-image: url(/src/assets/images/vector1.svg);
  background-repeat: no-repeat;
  background-position: -80% 10%;
  overflow-x: hidden;
}

.tools-row {
  border-radius: 25px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  background-image: linear-gradient(to right, #9697f33f, transparent);
}

@media (min-width: 768px) {
  .tools-row {
    padding: 25px 0 25px 25px;
    transform: translateX(20px);
    background-image: unset;
  }

  .tools-row:hover {
    background-image: linear-gradient(to right, #9697f33f, transparent);
    transform: translateX(0);
  }
}
