/* 
  *  In this file, you deal with the posters size, and the CSS for the projects cards
*/

/* * Dealing with the vector BG, is different in each section * */
.projects {
  background-image: url(/src/assets/images/vector1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 130%;
  position: relative;
}

/* * The container for each project * */
.project-card {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.project-card:hover {
  background-color: #1a274b5b;
  border-radius: 5px;
  border: 1px solid rgba(156, 156, 156, 0.129);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
}

/* * Tags inside each project * */
.custom-project-tag {
  @apply py-1 px-2 rounded-lg  bg-highlightColor bg-opacity-30 border border-highlightColor hover:bg-opacity-0 transition-all duration-300 text-xs;
}

/* * Posters * */
.posters {
  border-radius: 5px;
  border: 1px solid transparent;
}

/* * When project card gest hover, poster do: * */
.project-card:hover .posters {
  border: 1px solid rgba(255, 255, 255, 0.129);
}

.posters img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 660px) {
  .posters {
    width: 600px;
  }
}

@media (max-width: 660px) {
  .project-card {
    padding: 20px 10px;
  }
}

@media (min-width: 950px) {
  .posters {
    width: 250px;
  }
}

/* * Project Grid - Handle the distribution of elements according to viewport * */
@media (min-width: 950px) {
  .project-card {
    width: 46%;
  }
}
