.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  transform: scaleX(0);
  transform-origin: center;
  height: 1px;
  background-color: white;
  bottom: -5px;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* ^ Logo */
.logo-image {
  width: 45px;
}

.navigation-logo:hover {
  filter: drop-shadow(5px 0px 10px rgba(255, 255, 255, 0.504));
}

/* ^ Keyboard animation bubbles */
.bubble {
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
  left: 9%;
  top: 32%;
}

.navigation-logo:hover .bubble {
  animation-name: keyShining;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}

.navigation-logo .bubble:nth-of-type(2) {
  left: 40%;
  top: 35%;
  animation-delay: 1s;
}

.navigation-logo .bubble:nth-of-type(3) {
  left: 73%;
  top: 39%;
  animation-delay: 0.6s;
}

.navigation-logo .bubble:nth-of-type(4) {
  left: 56%;
  top: 55%;
  animation-delay: 1.4s;
}

@keyframes keyShining {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    box-shadow: 1px 2px 3px #5d5fef;
  }
  100% {
    opacity: 0;
  }
}

/* ^ Keyboard animation sound icon */
.sound-icon {
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 80%;
  z-index: -1;
  opacity: 0;
}

.navigation-logo:hover .sound-icon {
  left: 104%;
  top: 0%;
  transform: rotate(5deg);
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0.3;
  animation-name: iconSoundRotated;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes iconSoundRotated {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg) scale(1.2);
  }
  100% {
    transform: rotate(-5deg);
  }
}
