/* ? Styles or parameters for this app */
/* & Customized Utilities */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: #cfcfcf;
  max-width: 1600px;
  margin: 0 auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

/*missing alt attribute*/
img:not([alt]) {
  outline-offset: 5px;
  outline: 5px dashed red;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 15px;
  outline: 5px solid blue;
}

.custom-bg {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.07) 0.5px,
    #0a162c 0.5px
  );
  background-size: 20px 20px;
}
