/* ? Styles or parameters for this app */
/* & Customized Utilities */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-bg);
  color: #cfcfcf;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

/*missing alt attribute*/
img:not([alt]) {
  outline-offset: 0.5rem;
  outline: 0.5rem dashed red;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}

.custom-bg {
  background-image: radial-gradient(#ffffff1a 0.5px, #000f2d 0.5px);
  background-size: 20px 20px;
}

.sec-pad {
  padding: 4rem 8rem;
}

.sec-mar {
  margin: 4rem 6rem;
}

/* Logo details */
.logo-image {
  width: 85px;
}

.navigation-logo:hover {
  filter: drop-shadow(5px 0px 10px rgba(255, 255, 255, 0.504));
}
