/* ? Anything that I would need to modify over Tailwind, goes here */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #000f2d;
}

/* & Typography settings */
body {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  font-family: "Poppins", serif;
  line-height: 1.4;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 6rem);
  color: #d6dfe5;
  font-weight: 800;
}

h2 {
  font-size: clamp(2rem, 4vw, 4.5rem);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.8rem, 3.5vw, 3.5rem);
  font-weight: 500;
}

h4 {
  font-size: clamp(1.6rem, 3vw, 2.5rem);
}

h5 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}
