/* ? Anything that I would need to modify over Tailwind, goes here */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #000f2d;
}

/* & Typography settings */
body {
  font-size: clamp(18px, 2vw, 18px);
  font-family: "Poppins", serif;
  line-height: 1.4;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(36px, 5vw, 60px);
  color: #d6dfe5;
  font-weight: 800;
}

h1::selection,
p::selection {
  background: #9395f6;
}

h2 {
  font-size: clamp(25px, 4vw, 45px);
  font-weight: 500;
}

h2::selection {
  background: #d6dfe5;
}

h3 {
  font-size: clamp(18px, 3.5vw, 35px);
  font-weight: 500;
}

h4 {
  font-size: clamp(16px, 3vw, 25px);
}

h5 {
  font-size: clamp(14px, 2.5vw, 20px);
}
